<div>
  <div class="chat-container">
    <span>
      Ingresá tu correo electronico y tu nuevo password para reiniciarlo
    </span>

    <input type="text" placeholder="Username" name="username" id="username" />

    <input
      type="password"
      placeholder="Password"
      name="password"
      id="password"
    />

    <button id="forgotPassword">Enviar</button>
    <a href="http://localhost:8080/"> <button id="register">Conectarme</button> </a>
  </div>

</div>