<div>
  <div class="chat-container">
        <div><h1>Cambiar password:</h1></div>
    <div>
      <span>
        Ingresá tu correo electronico y tu nuevo password para reiniciarlo.
      </span>
    </div>
    <br>
    <div>
      <input type="text" placeholder="Username" name="username" id="username" required>
    </div>
    <br>
    <div>
      <input
        type="password"
        placeholder="Password"
        name="password"
        id="password"
        required>
    </div>
    <br>
    <div>
      <button type="submit" id="forgotPassword" name="cambioPasswd">Cambiar Password</button>
    </div>
    <br>
    <div>
      <a href="http://localhost:8080/"> <button id="register">Volver a Login</button> </a>
    </div>
  </div>

</div>