<div>
    <div><h1>Hola, logueate para entrar:</h1></div>
    <form action="/" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input id="email" type="email" class="form-control" name="email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input id="password" type="password" class="form-control" name="password" required>
        </div>
        <button type="submit" id="send" class="btn btn-primary">Submit</button>
    </form>
        <a href="http://localhost:8080/signup"> <button id="register">Registrate</button> </a>
</div>