<div>
    <div><h1>Hola, logueate para entrar:</h1></div>
    <div class="chat-container">

        <input type="text" placeholder="Email" name="email" id="email" />

        <input
        type="password"
        placeholder="Password"
        name="password"
        id="password"
        />
        <button id="send">Enviar</button>
        <button id="getButton">Get Cookie</button>

    </div>

</div>