<div>
  <div class="containerForm">

    <div><h1>Hola, registrate para entrar:</h1></div>
        <br>

      <input type="text" placeholder="Nombre" name="firstName" id="firstName" />
          <br>          <br>

      <input type="text" placeholder="Apellido" name="lastName" id="lastName" />
          <br>          <br>

      <input type="number" placeholder="Edad" name="age" id="age" />
          <br>          <br>

      <input type="email" placeholder="email" name="email" id="email" />
          <br>          <br>

      <input type="password" placeholder="Contraseña" name="password" id="password" />
          <br>          <br>

      <button id="signup">Enviar</button>
          <br>          <br>

   
  </div>
    <br>
    <a href="http://localhost:8080/"> <button id="register">Ya tengo un usuario</button> </a>

</div>